<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="home_title col-xs-12 col-sm-6 col-sm-offset-3">
        <h1 class = "text-center"><%= "#{@artist.first_name} #{@artist.last_name}" %></h1>
        <% if (@artist == current_artist) %>
          <%= link_to 'Update Profile', edit_artist_path(@artist) %>
        <% end %>

        <div class="text-center row">
            <div class="col-xs-12 col-sm-12">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@artist.picture.path) %>');">
                  <div class="card-category">BIO</div>
                  <div>
                      <% @artist.reviews.each do |r| %>
                          <% r.stars do %>
                          <i class="fa fa-star" ></i>a
                          <% end %>
                      <i class="fa fa-star color=yellow"></i>
                      <% end %>
                  </div>
                  <div class="card-description">
                  <p> <%= "#{@artist.bio}"%> </p>
                  </div>
                <a class="card-link" href="#" ></a>
              </div>
            </div>
            <%= link_to 'Book now', new_artist_booking_path(@artist), class: "btn btn-primary btn-lg" %>
            <h2 class="text-center"> </h2>

        </div>
        <%= render 'reviews/form', artist: @artist, review: @review %>
          <% @artist.reviews.each do |r| %>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h2><%= r.content %></h2>
                <% r.stars do %>
                <i class="fa fa-star"></i>
                <h2><%= r.stars %></h2>
                <% end %>
                <hr>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>




          <h2 class= "text-center"><strong>My Work</strong></h2>
          <div class="band">
            <div class="row">
                <% @artist.photos.each do |photo| %>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card-gallery" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(photo.path) %>');">
                    <div class="card-category"></div>
                  </div>
            </div>
           </div>
            <% end %>





        </div>


          </div>

  </div>

</div>
