<div id="wrapper" class="padded">
  <div class="container">
    <div class="row">
      <div class="home_title col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="text-center">





<h1>My Booking</h1>

<% @bookings.each do |booking|%>
  <ul class="list-unstyled">
    <li><%= booking.name %></li>
    <li><%= booking.email %></li>
    <li><%= booking.contact %></li>
    <li><%= booking.tattoo_place %></li>
    <li><%= booking.prefered_date %></li>
    <li><%= booking.description %></li>
  </ul>
<% end %>

<h2>Would you like to take this booking?</h2>
<div>
  <form action="/artists" class="form-inline" >
          <input type="submit" class="btn btn-primary btn-lg" value="Yes">

          <input type="submit" class="btn btn-primary btn-lg" value="No">
        </form>
</div>

        </div>
      </div>
    </div>
  </div>
</div>
