
<div class="container">
  <div class="row">
    <div class="home_title col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="text-center">
<h1>Bookings and Enquiries</h1>
<p>Please complete the form below to enquire about getting a tattoo</p>


    <%= simple_form_for [@artist, @booking] do |f| %>
      <%= f.input :name, label: "Your name*" %>
      <%= f.input :email, label: "Email*" %>
      <%= f.input :contact, label: "Contact number*" %>
      <%= f.input :tattoo_place, label: "Body part you want to tattoo" %>
      <%= f.input :budget, label: "Budget" %>
      <%= f.input :prefered_date, label: "Prefered date and time" %>
      <%= f.input :description, label: "Description" %>
      <%= f.submit 'Booking Enquiry', class: 'btn btn-primary btn-lg' %>
    <% end %>

   </div>


    </div>
  </div>
</div>

<!-- Button trigger modal -->
