<div class="container">
  <div class="row">
    <div class="home_title col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="text-center">
    <h2>Your booking enquiry</h2>
    <ul>
      <li><%= @booking.name %></li>
      <li><%= @booking.email %></li>
      <li><%= @booking.contact %></li>
      <li><%= @booking.tattoo_place %></li>
      <li><%= @booking.prefered_date %></li>
      <li><%= @booking.description %></li>
    </ul>
</div>
</div>
</div>
</div>

        <%= link_to 'Home', root_path %>



